.ui-navbar-NavBar.dflex
  div.navLeft
    input(type="text", placeholder="Search for videos, flashcards and questions")
    img(data-bind='click: clickSearch', src="https://www.clipartwiki.com/clipimg/full/233-2334079_svg-png-free-download-onlinewebfonts-com-comments-.png", width="15", height="15").iconstyle
  div.navRight.dflex
    .top-menu-element(class="notification")
    img(src="https://miro.medium.com/max/1536/1*o-UCEnQ3VRCrHjI8cx4JBQ.jpeg").notificationicon