.ui-navbar-NavBar
  input(type="text", placeholder="Search for videos, flashcards and questions", data-bind='click: clickSearch').lfloat
  a(class="fi-doc-search fi").lfloat
  .top-menu-element(class="notification").rfloat
  img(src="", alt="", data-bind='click: clickProfile').rfloat