.ui-navbar-NavBar
  input(type="text", placeholder="Search for videos, flashcards and questions", data-bind='click: clickSearch').lfloat
  a(class="fi-doc-search fi").lfloat
  img(width="30", height="30", src="https://p7.hiclipart.com/preview/981/645/182/united-states-computer-icons-desktop-wallpaper-clip-art-free-high-quality-person-icon.jpg").rfloat
  .top-menu-element(class="notification").rfloat