.ui-nextbar-MemoryAnchorElement.dflex
  div.flexs
    img(width="200", height="100", data-bind='attr:{src: thumbnail}')
  div.flexs
    h4(data-bind='text: title')
    img(width="30", height="20", data-bind='attr:{src: icon}').lfloat
    p(data-bind='text: author')