.ui-nextbar-NextBar.dflex
  h3 Up Next
  hr.widthf
  div.dflex
    div.flexs
      img(width="250", height="150", src="https://d16qt3wv6xm098.cloudfront.net/fbUt_zeLT0CZ94mrPJ2_GLqiQVGz87PR/_.jpg")
    div.flexs.plm
      h4 Blood pressure, blood flow, and resistance
      p Osmosis
  h3 Memory Anchors
  hr.widthf
  .nextbar-element