display: flex;
align-items: center;
color: #ffffff;

.leftquizbar{
    background-color: #4a9349;
    font-size: 10px;
}

.rightquizbar{
    background-color: #5cb85c;
    font-size: 35px;
}

.qnumber{
    font-size: 25px;
}