.ui-addtoquizbar-AddToQuizBar
  div(class="leftquizbar")
    span(data-bind='text: flashcards', class="qnumber")
    span FLASHCARDS
    hr
    span(data-bind='text: questions', class="qnumber") 
    span QUESTIONS
  div(class="rightquizbar")
    p Add to Quiz Queue