.ui-addtoquizbar-AddToQuizBar.mtl
  div.leftquizbar.phm
    div.upperLeft
      span(data-bind='text: flashcards').qnumber
      span(data-bind='text: flashcardsText')
    div.upperRight
      span(data-bind='text: questions').qnumber 
      span(data-bind='text: questionsText')
  div.rightquizbar
    p Add to Quiz Queue