.ui-sidebar-SideBar.flexs
  div
    img( class="menuButton", width="100%",
      height="100%",
      data-bind='click: clickMenu', src="https://icon-library.net/images/menu-icon-white-png/menu-icon-white-png-27.jpg")
  .left-menu-element