.ui-sidebar-SideBar.flexs
  div.menuButton
    img(width="60px",
      height="60px",
      data-bind='click: clickMenu', src="https://icon-library.net/images/menu-icon-white-png/menu-icon-white-png-27.jpg")
  .left-menu-element.mtxxl