height: 100%;
width: 160px;
position: fixed;
top: 0;
left: 0;
background-color: #111;

.menuButton{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #808382;
  display: block;
}