.ui-sidebar-SideBar.flexs
  img(width="60px",
    height="40px",
    data-bind='click: clickMenu', src="https://cdn4.iconfinder.com/data/icons/general-office-solid-style/91/General_-_Office_30-512.png")
  .left-menu-element