.ui-notificationelement-NotificationElement(data-bind='click: topMenuClick').lfloat
  a(data-bind='css: notificationNumber!==0?"notification":"disabled"')
    span(data-bind='css: iconClass')
    span(data-bind='text: notificationNumber, css: notificationNumber!==0?"badge":"nobadge"')