.ui-notificationelement-NotificationElement(data-bind='click: topMenuClick').lfloat
  a(class='notification')
    span(data-bind='css: iconClass')
    span(class="badge", data-bind='text: notificationNumber')