.ui-Content
  div(class="videoContent")
    iframe(src="https://www.youtube.com/embed/xIZQRjkwV9Q",frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
    .addtoquizbar
  .ui-nextbar-NextBar