.ui-Content
  hr
  .breadCrumbs
  img(src="/ew", alt="")
  h2 ECG Basics
  iframe(width="500", height="300", src="https://www.youtube.com/embed/xIZQRjkwV9Q",frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")