.ui-PageComponent.dflex
  .ui-sidebar-SideBar
  div.contentContainer
    .ui-navbar-NavBar.plm
    hr
    div.phel.dflex.mlxl
      div
        img(src="https://d16qt3wv6xm098.cloudfront.net/zCggwI_wSxaq8VpruU6jULXlSHO-lzlS/_.png", height="40px", width="40px")
      div.mll
        .breadCrumbs
        h3 ECG Basics
    .ui-Content.phel.mlxl