.ui-PageComponent
  //- h1.fwb Mix example
  //- .ui-example-ExampleA
  //- .ui-ExampleB

  //- h1.fwb Append example
  //- .appended-elements

  //- h1.fwb Mixlist example
  //- .mix-list.mll
  //- button(href='', data-bind='click: add', style='width: 80px; height: 30px') Add

  .ui-sidebar-SideBar
  div(class="contentContainer")
    .ui-navbar-NavBar.plm
    div.phel
      hr
      .breadCrumbs
      img(src="https://d16qt3wv6xm098.cloudfront.net/zCggwI_wSxaq8VpruU6jULXlSHO-lzlS/_.png", height="30px", width="30px")
      h2 ECG Basics
    .ui-Content.phel